/* Default colors and sizes */
body {
	background-color: black;
	color: white;
	font-familiy: serif;
	font-size: 16pt
}

/* Hyperlinks */
a {
	color:#77aabb;
	text-decoration:none
}

a:hover {
	color:#77aaff;
	text-decoration:none
}

a:visited {
	color:#77aabb;
	text-decoration:none
}

/* Intro div, before game */
#dvIntro {
	text-align: center
}

#hrIntroSeparator {
	color: #000044;
	background-color: #000044;
	height: 3px;
	border: 0
}

#btBoot {
	color: #770000;
	font-weight: bold
}

/* Game title */
#dvTitle {
	font-size: 18pt;
	color: lightgray
}

/* Game div */
#dvFi {
	width: 100%
}

#hrFiSeparator {
	color: #000044;
	background-color: #000044;
	height: 3px;
	border: 0
}

/* Name of the room */
#dvId {
	width: 100%;
	height: 10%;
	color: #77aaff;
	font-style: italic;
	font-weight: bold
}

/* Image */
#dvPic {
	width: 100%;
	height: 40%;
	text-align: center
}

/* Description text for current room */
#dvDesc  {
	color: green;
	width: 100%;
	height: 10%
}

/* Game's answer text */
#dvAnswer {
	width:100%;
	height:10%;
	font-size:14pt;
}

/* Input section, prompt, icons... */
#dvInput {
	color: white;
	background-color: black;
	width: 100%;
	height: 10%;
}

#edInput{
	width: 90%;
	color: khaki;
	background-color: black;
	border: none;
	border: 1px dotted gray;
	border-radius: 10px;
	font-family: monospace;
	padding: 6px
}

/* Error section, this is normally not seen by players */
#dvError {
	color:white;
	background-color:red;
	width:100%;
	height:10%;
	font-size:24pt;
}

#dvObjects {
    font-family: monospace;
    font-size: 16pt;
    cursor: crosshair;
    text-align: center
}

#dvActions {
	cursor: crosshair
}
